# ==============================================================================
# MLOps Project Environment Variables Template
# Instructions: Copy this file to '.env' and fill in your private credentials.
# DO NOT commit the actual '.env' file to version control.
# ==============================================================================

# --- Weights & Biases ---
# Find your API Key at: https://wandb.ai/authorize
WANDB_API_KEY=andb_v1_G3vOBA4mJ5LlbaspN8QvzEudwCd_hnS0ZS2KjUbiX5ICSu9qCOnSqfT9v3GShWwGUcQ7uTH1p4NLN
WANDB_ENTITY=hexiaoyu-czech-technical-university-in-prague
WANDB_PROJECT=Breast Cancer Wisconsin

# --- Project Environment Settings ---
# Set to 'development' or 'production'
ENV_MODE=development
LOG_LEVEL=DEBUG

# --- Google Cloud Settings ---
# Path to your Google Cloud service account key file
GOOGLE_APPLICATION_CREDENTIALS="client_secret_934984265576-s6b3uc1i3h601qonrqcfav5n3fh2tf7u.apps.googleusercontent.com.json"
